---
Checks: "
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*-c,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type
  "
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,             value: CamelCase  }
  - { key: readability-identifier-naming.UnionCase,              value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,           value: camelBack }
  - { key: readability-identifier-naming.VariableCase,           value: camelBack }
  - { key: readability-identifier-naming.PrivateMemberSuffix,    value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,  value: _          }
  - { key: readability-identifier-naming.MacroDefinitionCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstantCase,           value: UPPER_CASE }
  - { key: readability-identifier-naming.PointerParameterCase,   value: CamelCase  }
  - { key: readability-identifier-naming.PointerParameterPrefix, value: p          }